[2019-06-12 00:47] acxz opened #1 "This package build breaks"
Just putting this comment here to track that this package breaks.
As of posting, this package specifically breaks when trying to build `ignition-transport`, it is flagged outdated on the AUR.

[2019-06-18 13:01] acxz commented on #1
After solving the ignition-transport issue with using upstream `libpgm-git` package instead of `libpgm` for the dependency of zeromq and subsequently `ignition-transport`, the next issue faced was failure during the installation of `ros-melodic-gazebo-plugins`. This was resolved by an update/fix in the `ogre-1.9` PKGBUILD. This package now successfully installs. The entire package along with its d

[2019-06-18 13:01] #1 closed

[2019-09-15 20:12] salehjg opened #2 "trying to install melodic for the first time"
I am trying to install melodic for the first time on my archlinux.
considering that I am new to the whole ROS platform and probably not aware of something obvious, this is the result of my very first try:
[code]

Is this related to the fact that the project is under development(according to the comment on [AUR](https://aur.archlinux.org/packages/ros-melodic-desktop-full/) ) ?

[2019-09-15 20:48] jwhendy commented on #2
I ran into this as well. There are versioned equivalents for each of those packages, but I'm not sure on the best way to update the affected PKGBUILDs. For example, you want `ignition-transport-4`, which will satisfy the dependency.

@bionade24 any input on the best way to get our PKGBUILDs to use the custom versioned packages in AUR?

[2019-09-15 20:49] jwhendy commented on #2
For the interim, you can manually install the `ignition-foo-n` version of each dependency, get `gazebo` to build, then you should be good to go on the rest.

[2019-09-15 21:01] bionade24 commented on #2
This is in AUR problem. In theory, `pacman` could handle this, if the old version is lying on the server. I think the only AUR compatible solution is hardcoding this. But it seems like `pacaur` isn't handling it very good, `pikaur` is already telling this with location before you can edit `PKGBUILD` files.

[2019-09-15 21:03] bionade24 commented on #2
Just for information: `gazebo` isn't maintained by me, so I can't solve it.

[2019-09-16 14:16] jwhendy commented on #2
I just retried my hack and am not not remembering what I did. I was starting from the bottom and trying to move up through the dependencies. It seems the versioned deps are not being picked up?

[code]

So, `pacman` knows `ignition-cmake` is installed a version `=0`. But:
[code]

Not sure why it's going for `ignition-cmake 2.1.0` instead of what's locally available?

[2019-09-16 14:26] jwhendy commented on #2
Hmm. Must be something odd about `aur sync` vs. building locally. The process I just used now was:
- use a local build process: e.g. `makepkg` or `aur fetch pkg + aur build`
- build each of the `gazebo` deps: `ignition-cmake-0`, `ignition-math-4`, `ignition-msgs-1`, `ignition-transport-4`, `sdformat-6`, `ignition-common-1`, `ignition-fuel_tools-1`
- build `gazebo` locally

That worked for me. It's

[2019-09-16 16:03] acxz commented on #2
@salehjg I recommend you use `yay`. I have been using that AUR helper this whole time with ROS and it is working perfectly fine, including this issue.

For example the following command works fine for me: `yay -Syu ros-melodic-desktop-full`

Ideally, `gazebo`'s maintainer should fix the issues in the `gazebo` PKGBUILD on his end, (and I have been asking him to (https://aur.archlinux.org/packages/g

[2019-09-16 19:05] jwhendy opened #3 "List of all remaining packages to update"
I just finished what I think completes ros-melodic-ros-base, ros-melodic-desktop, and ros-melodic-desktop-full. There will surely be some adjustments. In the meantime, here are the packages that aren't pulled in by these. I have local branches with automated changes made, but I still need to verify and build them before committing. For now, here's the list!

- [x] ros-melodic-tuw-vehicle-msgs
- [x

[2019-09-16 22:41] acxz commented on #2
@salehjg Since the errors are directly related to the gazebo package, I am closing this issue. Please let us know if you still cannot install this package.

[2019-09-16 22:41] #2 closed

[2019-09-18 03:52] jwhendy commented on #3
Bam. Calling this done. Notes are present where I could not update. This should mark the end of migrating all `ros-melodic-*` to upstream sources, bumping `pkver` and `pkgrel` where needed, and verifying builds on my machine.

I'll await @bionade24 's upcoming activity and sync to AUR, then re-build from there to catch an issues, if any. All above packages can be tracked via issues. Closing.

[2019-09-18 03:52] #3 closed

[2019-09-18 05:15] bionade24 commented on #3
Thanks! I hope I can.build & sync this afternoon.

Am Mittwoch, 18. September 2019 schrieb John Hendy:

[2019-09-18 16:59] acxz opened #4 "[Package Request] Turtlebot3"
Hello! I will be working on the turtlebot3 system soon and I noticed that there are no `turtlebot3` packages.

As of now I will require the following ros packages:
`ros-melodic-turtlebot3`: https://wiki.ros.org/turtlebot3
`ros-melodic-turtlebot3-msgs`: https://wiki.ros.org/turtlebot3_msgs
`ros-melodic-turtlebot3-simulations`: https://wiki.ros.org/turtlebot3_simulations

I am not sure how I should

[2019-09-18 20:08] jwhendy commented on #4
I would use the following process, using `turtlebot3_msgs` as the example:
- find the package on [rosindex](http://rosindex.github.io/), if possible (looks not to exist, so perhaps the team hasn't published to rosdistro to get on the radar)
- if you can't get the melodic version on rosindex, look on the [repo releases](https://github.com/ROBOTIS-GIT/turtlebot3_msgs/releases). Thankfully they state

[2019-09-18 20:09] jwhendy commented on #4
Oh, and I don't know how @bionade24 created permissions here, but I was able to create a new repository and just push there. That doesn't guarantee it makes it to AUR, but I'm sure that's fairly trivial.

[2019-09-22 00:01] acxz commented on #4
I see, thanks for your guidance. I will try to create the rest of the turtlebot3 packages.

[2019-09-22 00:01] acxz commented on #4
I'll keep this repo up until the specified packages are pushed to the AUR.

[2019-09-22 02:26] acxz commented on #4
@bionade24 The following is the list of repositories that I have created/modified in order to resolve this issue. If these repos can be pushed into the AUR soon, it would be much appreciated so that I can test them out on an actual Turtlebot3 in addition to my own development computer. Thank you.

- [ ] [ros-melodic-turtlebot3](https://github.com/ros-melodic-arch/ros-melodic-turtlebot3)
- [ ] [ros

[2019-09-22 17:25] bionade24 commented on #4
Sorry, I'm ill these days. Will do it with the new PKGBUILDs next week when I feel better.

[2019-09-22 18:31] acxz commented on #4
Np, I hope you feel better soon!

[2019-09-30 17:58] acxz commented on #4
@bionade24 do you have an ETA on when you will perform a sync with this organization and the AUR? It would be nice if we can get these new package, turtlebot3 and rosbridge, along with the fixes to cv-bridge and moveit-core out to the public.

[2019-09-30 19:10] bionade24 commented on #4
I currently rewrite my test CI/CD and have to fix one issue in a SW it depends on. Probably tomorrow or Wednesday.

[2019-11-01 06:03] acxz commented on #4
I have created the missing packages in the AUR.

@bionade24 Please email me for transfer ownership, Sorry for the inconvenience this may have caused. I have added you as a co-maintainer, will disown when a) you have emailed me or b) when I am done testing these packages (~ 1 month)

[2019-11-01 06:03] #4 closed

[2019-11-05 14:43] acxz opened #5 "Update/Create Melodic Packages Based on Upstream"
Hey guys, another update for ROS Melodic is out: https://discourse.ros.org/t/new-packages-for-melodic-2019-11-05/11361

As such, I am creating this thread to update and create new packages as necessary to get this Melodic update out on Arch.

Tasks:
Create new packages from the list if they do not exist
Update packages from the list if they do

I am not sure on what is the best way to track this b

[2019-11-07 17:20] bionade24 commented on #5
If you could make a project with goals for it, it would be perfect. I'm currently very busy and don't even have much time to fix the build issues in my CI.

[2019-11-07 17:21] bionade24 commented on #5
https://github.com/orgs/ros-melodic-arch/projects

[2019-11-07 17:21] #5 closed

[2019-11-07 18:16] acxz commented on #5
Sure, that's a good idea.
Yeah I figured as much, don't worry. Hope you get to relax soon.

[2019-11-08 04:57] AluminumTank opened #6 "Unable to install with python2"
I am trying to get an install of Melodic running with python2, since our codebase is using python2, but all of the packages use python3 versions of everything.

[2019-11-08 14:52] jwhendy commented on #6
My initial thought is [this](https://pythonclock.org/), but I also don't know how long groups plan to stay on py2 after the end of life declaration.

I'd be interested to hear perspectives from @bionade24 and @acxz on this, but trying to maintain both versions seems daunting to me (particularly after recently updating every package to use upstream sources and deal with boost 1.71).

We would have

[2019-11-08 16:54] acxz commented on #6
I agree with @jwhendy , with around 2 months left of python2 maintenance, there is no reason for us to accommodate python2. If anything the next ROS release, Noetic, will be all Python 3. Compiling and using python 3 with Melodic, allows the Arch community contribute back to ROS and help the ROS Noetic release. I would urge your existing codebase to be updated or to look at ROS Kinetic on Arch Lin

[2019-11-08 17:06] acxz opened #7 "Create project for keeping track of patched packages"
I was thinking it might also be a good idea to use a project to keep track of our patched packages. We can add upstream issues or PRs related to the patched packages as well.

[2019-11-08 22:09] bionade24 commented on #6
Simple nodes should work fine, but supporting python2 would be unnecessary effort. Someone who wants to use all python capabilities with python2 needs something debian-based or can patch the PKGBUILDs itself. Arch will drop py2 support ASAP, so switching to something Debian-based would be smart, then you'll even get  support afterwards.

Am Freitag, 8. November 2019 schrieb John Hendy:

[2019-11-16 08:49] acxz commented on #6
Going ahead and closing this. please reopen if you would like to still discuss this issue.

[2019-11-16 08:49] #6 closed

[2019-11-16 19:05] acxz opened #8 "Build fails due to hardcoded python3.7 paths"
Pretty much every PKGBUILD has hardcoded python paths, as noticed by https://github.com/ros-melodic-arch/ros-build-tools-py3/issues/1. This is causing failures to build when a new python version is released.

I have been going through building ros-melodic-desktop-full from scratch and have been fixing python issues as they come up. Surprisingly even though every package has hardcoded python paths,

[2019-11-16 22:15] jwhendy commented on #8
I manually built these to verify, then merged all of them. Based on your investigation, then, would you propose we go through and remove these lines from all other packages? As in, no other packages use these lines at all???

[code]
Or are others also candidates for removal?

And I assume this is independent from this line, which would stay for all packages?
[code]

[2019-11-16 22:39] acxz commented on #8
Yep, at the very least those are not needed. Maybe the `-DPYTHON_EXECUTABLE=/usr/bin/python3` line can also go. Yeah the conflict link is prob separate as well, but not sure if we need that either. @bionade24 can provide a better recommendation moving forward, but that is what I believe the way forward is.

[2019-11-16 22:42] jwhendy commented on #8
I was building my own `~/catkin_ws` and got an error with `moveit_tutorials`. It complained that `ros_pcl` pointed to a non-existent 3.7 lib. I went to rebuild that (updated `ros-melodic-pcl-ros` to 3.8) and it complained instead about `ros-melodic-pcl-conversions`. Updating *that* to 3.8 and then rebuilding `ros-melodic-pcl-ros` (but reverting to the unused 3.7 commands) worked.

**Edit:** only n

[2019-11-16 23:04] acxz commented on #8
Did you try to just rebuild ros-melodic-pcl-conversions before changing the PKGBUILD for it to py3.8?

[2019-11-16 23:16] jwhendy commented on #8
Dangit. Didn't even dawn on me! So basically we don't necessarily have to specify these 3.8 paths, but sometimes the packages will still depend on a version-specific lib location?

Also... should I just leave the above since it likely doesn't matter? Or commit/push a reversion back to 3.7?
- pros: unnecessary change will not be confusing in the future
- cons: messy commit history

Sorry about that

[2019-11-17 00:44] acxz commented on #8
lol its fine, but yeah a bunch of packages on the official repos got updated so they would be recompiled. For AUR packages, users have to recompile them specifically, which is why I started with a clean ros build.

Eh, it doesn't really matter, but I think it is good to revert the commit. So that we know only the ones we changed to 3.8 are the ones we need to focus on and the rest we can delete th

[2019-11-17 04:18] jwhendy commented on #8
Ok, pushed a new commit which puts it back to 3.7. Good point that in the end, it sounds like we'll probably move to removing these python settings for packages that don't need them. Thus, searching for 3.8 at that point will be an easy way to track down which need updates down the road (and having a false one would confuse things).

Thanks!

[2019-11-17 08:42] acxz opened #9 "Build fails due to gazebo build fails."
See: https://aur.archlinux.org/packages/sdformat-6/#comment-716636

[2019-11-17 16:28] bionade24 commented on #8
I think we can remove both statements. But I'll do it in two steps, so that I directly know the cause of the failed build.

[2019-11-19 11:21] seedship opened #10 "rospack build fails"
When I do yay -S ros-melodic-desktop-full, I get:

-- Build files have been written to: /home/seedship/.cache/yay/ros-melodic-rospack/src/build
Scanning dependencies of target rospack
[ 11%] Building CXX object CMakeFiles/rospack.dir/src/rospack.cpp.o
[ 22%] Building CXX object CMakeFiles/rospack.dir/src/rospack_backcompat.cpp.o
[ 33%] Building CXX object CMakeFiles/rospack.dir/src/rospack_cmdline

[2019-11-19 11:25] seedship commented on #10
Sorry I think this should go in ros-melodic-rosstack

[2019-11-19 11:25] #10 closed

[2019-11-20 21:25] acxz opened #11 "Create project for keeping track of fixing up python variables"
See later discussion on #8

[2019-11-20 21:26] acxz commented on #8
Closing this issue since these packages have been synced to the AUR.

[2019-11-20 21:26] #8 closed

[2019-11-21 00:22] jwhendy commented on #8
Shall I go through and remove the python lines from all non-3.8 affected packages?

[2019-11-21 06:46] bionade24 commented on #8
No need for it. I'll do when all packages have built. Same appears fixing the arch array. Or is there any purpose why we should do it ASAP?

Am Donnerstag, 21. November 2019 schrieb John Hendy:

[2019-11-21 19:33] jwhendy commented on #8
@bionade24 definitely not urgent, it's just that this issue held all of this and is now closed. Without activity here, I think I'll likely forget about it. Maybe it should be a project?

At the time, I thought I could just take care of it while it was on my mind as I think a `sed` script would be pretty easy.

[2019-11-22 07:12] acxz commented on #8
@jwhendy I have created another issue exactly for this discussion: https://github.com/ros-melodic-arch/ros-melodic-desktop-full/issues/11

[2019-11-27 04:19] acxz commented on #9
I legit think, i just had to rebuild some packages. In any case it builds just fine for me now.

[2019-11-27 04:19] #9 closed

[2019-11-28 19:09] acxz opened #12 "[Package Request] Packages needed for Turtlebot3"
- [x] [ros-melodic-rosserial-client](https://github.com/ros-melodic-arch/ros-melodic-rosserial-client)
- [x] [ros-melodic-openslam-gmapping](https://github.com/ros-melodic-arch/ros-melodic-openslam-gmapping)
- [x] [ros-melodic-gmapping](https://github.com/ros-melodic-arch/ros-melodic-gmapping)
- [x] [ros-melodic-move-slow-and-clear](https://github.com/ros-melodic-arch/ros-melodic-move-slow-and-cle

[2019-11-29 09:12] acxz commented on #12
Packages have been synced to AUR, had a hiccup with ros-melodic-gmapping.

[2019-11-29 09:12] #12 closed

[2019-11-29 09:39] acxz commented on #7
Done with https://github.com/orgs/ros-melodic-arch/projects/4

[2019-11-29 09:39] #7 closed

[2019-11-29 09:44] acxz commented on #11
Project created: https://github.com/orgs/ros-melodic-arch/projects/5

[2019-11-29 09:44] #11 closed

[2020-02-06 06:31] acxz opened #13 "[Package Request] Packages needed for Summit XL"
It seems like ROS is calling me back lol.
Anyway working on a different system and would like to request to following packages and the associated deps:

- [x] [ros-melodic-summit-xl-common](https://github.com/RobotnikAutomation/summit_xl_common)
- [x] [ros-melodic-summit-xl-control](https://github.com/RobotnikAutomation/summit_xl_common)
- [x] [ros-melodic-summit-xl-description](https://github.com

[2020-02-08 22:57] acxz commented on #13
Created the packages and transferred ownership to you @bionade24

[2020-02-08 22:57] #13 closed

[2020-02-09 12:48] bionade24 commented on #13
Thanks, no problem. I'm very busy ATM because I have a presentation soon & and wouldn't have done it until Wednesday.

[2020-02-09 15:53] acxz commented on #13
No worries and Good Luck!!!

[2020-02-15 07:04] acxz opened #14 "[Package Request] Packages needed for CrazyS"
Working on another system/simulator now and need the following packages to get up and running with CrazyS:

- [x] [ros-melodic-mav-msgs](https://github.com/ethz-asl/mav_comm)
- [x] [ros-melodic-mav-planning-msgs](https://github.com/ethz-asl/mav_comm)
- [x] [ros-melodic-rotors-comm](https://github.com/ethz-asl/rotors_simulator)
- [x] [ros-melodic-rotors-control](https://github.com/ethz-asl/rotors_s

[2020-02-15 07:47] lilioid commented on #14
`python-catkin-tools` does not work under python3 in its current release.
Fixes are already merged but not released.

For that reason there is a `python-catkin-tools-git` package available in the AUR ;)

[2020-02-15 14:38] acxz commented on #14
Ah I see, eventually we would like a release package from them though right?
Edit: it seems like @kartikmohta is maintaining [`python-catkin_tools`](https://aur.archlinux.org/packages/python-catkin_tools) my bad flew under my radar.

Also I notice you maintain some ROS2 packages. Would you be interested in making an organization like this one for ROS2, eventually I want to move over to ROS2, but r

[2020-02-15 15:45] jwhendy commented on #14
Is the `catkin_tools` issue new? I haven't used ROS in maybe a month, but definitely used `catkin build` for my compiling with no problem.

Re. ROS2, I think the more the merrier. For my use-cases at work, we haven't switched to ROS2, but I'm guessing everyone will be at some point?

[2020-02-15 15:46] jwhendy commented on #14
Ah, just kidding. If it was the `asyncio` issue, I did run into that and probably just don't recall that I installed from source. I'm still recovering from a fresh install after hard drive issues and haven't gotten ROS setup again.

[2020-02-15 16:12] acxz commented on #14
EOL for the latest ROS1 is May, 2025, so we still have some ways to go, but eventually ROS2 will supersede ROS1. For me, as I move along in my research I will be working on safety critical systems and will need the real-time support, which is why I want to get on ROS2 as fast as possible.

[2020-02-16 05:50] acxz commented on #14
Packages pushed to AUR and under @bionade24's ownership.

[2020-02-16 05:50] #14 closed

[2020-02-16 10:04] lilioid commented on #14
sure, as soon as they release it

that idea did come to mind and I might do it at some point. But like others my people are currently stillt working with Ros1 so we don't really need it yet. We'll likely switch to Ros2 maybe a year from now so I'll reconsider doing it at that time.
Of course I would be happy to collaborate with others especially since I don't have as much experience maintaining pa

[2020-02-16 13:18] bionade24 commented on #14
Please leave me some time to add them in the CI. I currently don't have time to do this. Did you create the github Repos, too?

[2020-02-16 15:52] acxz commented on #14
@ftsell that sounds great, will definitely remember you when we get around to it. Looking forward to it!

I was also thinking instead of having all of these ros-<distro_name>-package-name to have just ros-package-name, since Arch follows the latest release anyway. The distinction should be makde for ROS 1 and ROS 2 though, but for individual distro releases like melodic vs noetic and dashing vs el

[2020-02-16 17:07] bionade24 commented on #14
I think it's a way to big effort to package the non-LTS releases. I also think that most people stay on the LTS distros. So as this maybe makes sense on Debian, but I don't think that's a good idea for arch.

[2020-02-16 18:00] acxz commented on #14
But how can we differentiate between LTS and non-LTS releases of packages from the upstream repository releases? I don't think that is possible unless the person updating each package does his due diligence in finding that out. We are at latest release anyway, what difference would LTS and non-LTS of a package make? In fact when Noetic comes around are we going to have to create an entire differen

[2020-02-17 10:06] bionade24 commented on #14
Ok, let's focus on ROS2. Tell me if I'm wrong because ROS2 changed something fundamentally, but I just want to give you a view why most people use the Distro Releases. You have for a specific distro optimized packages or use some proprietary ABI that doesn't work with the new release. Then you can stay longer on a specific distro until everything is fixed. Otherwise people would scream all the tim

[2020-02-17 15:21] acxz commented on #14
This is true, yeah I am now convinced of having the LTS releases. It is just that now it will be important that we do not update packages to versions higher than the self-reported ones on rosindex for a given distribution. This will put us at a slower release cycle than upstream and can cause us to make more patches than necessary.
Don't get me wrong, I do think have the latest LTS release is impo

[2020-02-17 15:26] bionade24 commented on #14
When noetic gets released in May we'll package it for sure. Once the tools work properly (and we have a faster build testing server) it shouldn't be a real problems. Maybe how this works should be reelaborated and we should find some way on some other CI program to base on and write our tools somehow better. It's really sad that OSRF doesn't really care about other distros, even if their own devs

[2020-02-17 15:37] acxz commented on #14
Sounds good, I am glad we had this conversation. :smile:

[2020-02-17 15:42] bionade24 commented on #14
The problem is just what CI to use. All free CIs are slow as hell, even the new Github CI has often timeouts. So only drone, jenkins & Gitlab CI remain, for all we need a dedicated server. If this should work well in long-term someone has to sponsor a mid-powered server (8cores /32GB RAM) only for this.

[2020-02-18 12:16] ftmzhrsckldr commented on #2
I tried all ways. But I couldn't install the package.

#sudo apt-get install ros-melodic-desktop-full

The following packages have unmet dependencies:
  ros-melodic-desktop-full: Dependencies: ros-melodic-desktop but will not be installed
                             Dependencies: ros-melodic-perception but won't be installed
                             Dependencies: ros-melodic-simulators but wi

[2020-02-18 12:59] acxz commented on #2
@ftmzhrsckldr what Linux Distribution are you running? This is the development website for the Arch Linux (not ubuntu or debian) packages of ROS-melodic. On Arch Linux you need to run the following command: ‘yay -S ROS-melodic-desktop-full’
If you are having trouble with the ‘apt-get’ version of this command I am afraid we cannot help. The best place to go for this would be posting on ROS Answers.

[2020-02-18 13:51] bionade24 commented on #2
Even though this is the wrong page to seek help for Ubuntu/Debian , some short help here:
Try to install ROS with aptitude: `sudo aptitude install ros-melodic-desktop-full`. Aptitude will try to solve the deps for you.

[2020-02-28 19:23] trusktr opened #15 "Missing many dependencies for gazebo"
Hello! I commented over on the AUR page before realizing it said to come here to GitHub instead.

I tried to install `ros-melodic-desktop-full` with [`pamac`](https://aur.archlinux.org/packages/pamac-aur/), but I got the following errors:

[code]

<details><summary>more lines of output</summary>

[code]

</details>

Normally, pamac installs dependencies from both official mirros as well as AUR, so

[2020-02-28 19:25] trusktr commented on #15
Oops, looks like duplicate of https://github.com/ros-melodic-arch/ros-melodic-desktop-full/issues/2.

[2020-02-28 19:29] #15 closed

[2020-02-28 19:33] trusktr commented on #2
Is there a difference between how some AUR helpers like `yay` handle dependencies compared to others like `pamac`? Or why does ros gazebo install work with `yay` but not `pamac`?

[2020-02-28 22:42] trusktr opened #16 "[Manjaro] rosbag: error while loading shared libraries: libPocoFoundation.so.64:"
Hello!

I recently did a `pacman -Syu`, and now when I try to run `rosbag play` I get an error:

[code]

Does this mean an upgrade to `poco` broke ros-melodic rosbag?

Here's what was upgraded relating to poco:

[code]

And now I see it has these files:

[code]

Should something in `ros-melodic` be looking for `libPocoFoundation.so` instead of specifically `/usr/lib/libPocoFoundation.so.64`?

How

[2020-02-28 22:47] trusktr commented on #16
Ironically, I seem to have the opposite issue as https://github.com/ros-melodic-arch/ros-melodic-image-view/issues/10. In that issue, it wants `libPocoFoundation.71`, but the system has `libPocoFoundation.64`. Mine wants 64, but I have 71.

Any ideas?

[2020-02-28 22:48] trusktr commented on #16
By the way, I'm on Manjaro Linux, which isn't _exactly_ Arch Linux. Manjaro packages are a little behind Arch packages. Could that be why?

[2020-02-28 22:50] trusktr commented on #16
Yep, as in the other issue, it looks like it might be because of Manjaro (the most popular Arch Linux derivative :smiley:) package version differences.

[2020-02-28 22:51] trusktr commented on #16
This makes me wonder: why doesn't ROS look for `libPocoFoundation.so` without the number?

[2020-02-28 23:11] trusktr commented on #16
Closing as not supported by the ros-melodic-arch team.

[2020-02-28 23:11] #16 closed

[2020-02-28 23:17] trusktr commented on #16
Ok, I found a hack to get me back in working shape:

This removes poco, but tricks dependents to think it is installed (or something), and therefore it will not have any message about breaking a dependent package:

[code]

Then I installed the one from AUR, which I was not able to install before removing poco:

[code]

And now `rosbag` works.

(cc @maujim from https://github.com/ros-melodic-arch/r

[2020-02-28 23:50] acxz commented on #2
So technically only `makepkg` is supported by ArchLinux, but having an AUR helper is pretty nice since it resolves all the deps, etc. Some AUR helpers are more accurate and less buggy, i.e. they mimic pacman to a closer degree. In my experience (and the communities as well going by the number of votes `yay` has on the AUR) `yay` is the best one out there. I highly recommend you use `yay` since tha

[2020-02-28 23:51] acxz commented on #15
Yeah go ahead and use `yay` also if you could delete your comment on the AUR page to clean the comments section that would nice.

[2020-02-28 23:56] acxz commented on #16
While we do not support Manjaro, it is nice of you to find a fix and let other users know! Have fun using ROS on ArchLinux (Manjaro)!

[2020-02-29 02:46] trusktr commented on #2
Done, deleted the AUR comment!

[2020-02-29 02:47] trusktr commented on #15
Done, deleted the AUR comment!

[2020-02-29 15:26] bionade24 commented on #2
`yay` and `pikaur`, if you dislike the first for some reasons, are the best maintained and most often updated package managers. Both should work.

[2020-02-29 15:29] bionade24 commented on #16
Please do us and yourself a favour and switch from Manjaro at least to [EndeavourOS](https://endeavouros.com/). When you install something out of the Manjaro Packages that needs poco you'll ran into the downside of your dumb hack.

[2020-03-01 05:31] trusktr commented on #16
Thanks for the recommendation. Manjaro was the most highly-visible Arch derivative so I happened to try that first; the out-of-box experience is absolutely great (all my hardware just works, plus Gnome ships with the popular plugins included).

I might just live with the above (ugly) hack for now, as Manjaro isn't the target production OS anyway; production is on Ubuntu; and I just need to do some

[2020-03-01 15:37] bionade24 commented on #16
Yeah, that's a big problem. Manjaro is a unmoral company that strips all Maintainer statements from Arch's `PKGBUILD`s and never really supported Arch. Hope you take the time to switch soon, then you could simply use the binary repo, too.

Something crashing on your dev machine makes nothing better, but it's your experience.

[2020-03-02 08:16] ftmzhrsckldr commented on #2
Yes it worked thank you

[2020-03-03 20:56] salehjg commented on #2
might be useful for ppl reading this issue:
https://gist.github.com/salehjg/ed06147e25ab10e2c34f46860f1a65d5

[2020-03-04 09:24] bionade24 commented on #2
@salehjg Could you please put it into the Arch wiki?

[2020-03-04 09:24] bionade24 commented on #2
@salehjg Could you please put it into the Arch wiki?

[2020-03-04 15:45] acxz commented on #2
Some of that information is actually outdated.

[2020-03-06 05:07] acxz opened #17 "fix pkgbuild url links"
Based on Repology a lot of our packages have dead links. Just some housekeeping, but it's nice to get these fixed up.

https://repology.org/maintainer/bionade24%40aur/problems

[2020-03-08 14:37] acxz commented on #17
@jwhendy do you think you can handle this? I remember you had a nifty script for this.

[2020-03-08 15:32] bionade24 commented on #2
I detected that my `ROS_PYTHON_VERSION` always gets sat to `2`, even though I have `export ROS_PYTHON_VERSION=3` in my `.zshenv`. Anyone experiencing the same issue or know how to solve this?

[2020-03-09 16:00] jwhendy commented on #2
How do you know? Googling around led me to [this wiki](http://wiki.ros.org/UsingPython3/BuildUsingPython3), which has essentially the same thing as a step:
[code]

It works for me manually checking, which is why it would be helpful to know how you diagnosed it as being rest.

[code]

[2020-03-09 16:05] jwhendy commented on #2
Also, I used a variant of [this](https://medium.com/@beta_b0t/how-to-setup-ros-with-python-3-44a69ca36674) to get `catkin build` using python3. My version defaulted as 2 above, so it also made me want to add the question: "what is the downside of having it set to 2?" I've not had any negative outcomes yet.

[2020-03-09 16:21] bionade24 commented on #2
Maybe I wasn't clear enough. It gets resetted with every shell start. I added the `-DCMAKE` flag, of course, too. On one of my machines roscore fails to start with some xml parsing problem if the value is `2`, on the other one it doesn't affect anything.

[2020-03-09 16:22] bionade24 commented on #2
Found it : `/opt/ros/melodic/etc/catkin/profile.d/1.ros_python_version.sh`

[2020-03-09 16:45] jwhendy commented on #2
That seems like your profile isn't sourced, no? Or you think the ros_python_version.sh is overwriting your manually written shell command? Do you source /opt/ros stuff after you export?

[2020-03-09 16:46] bionade24 commented on #2
Yes, I have this in my `.zshenv` file, which gets sourced very early, but the ROS related stuff is on the end.

[2020-03-09 16:46] jwhendy commented on #17
I'll revisit. I *did*, but in a hard drive issue/complete re-install, I did not grab that scripts folder and did not have it backed up. I can still look.

[2020-03-09 16:48] jwhendy commented on #17
Geez. Good lord, that's all my fault anyway. My former script looks to have added www to almost every URL, which is why they don't resolve.

[2020-03-09 18:41] acxz commented on #17
riiiiip lol

[2020-03-15 19:28] bionade24 commented on #17
I included the script here and fixed some problems: https://github.com/bionade24/aur-ci/blob/master/aurci/update.py

[2020-03-29 15:35] JohannesSchumacher opened #18 "Invalid Signature"
Hey,
installing ros-melodic-desktop-full fails due to invalid signature in package and ros-melodic-tf2-kdl-0.6.5-2-any.pkg.tar.zst and opencv3-opt-3.4.7-2-x86_64.pkg.tar.zst.

[2020-03-29 18:13] bionade24 commented on #18
Fixed, thanks for reporting.

[2020-03-29 18:13] #18 closed

[2020-05-16 18:40] acxz opened #19 "[Package Request] ros-melodic-octomap-mapping"
- [x] [ros-melodic-octomap-mapping](https://github.com/OctoMap/octomap_mapping)

[2020-05-16 19:16] #19 closed

[2020-05-16 23:43] MalcolmMielle opened #20 "OpenCV versions"
I'm not sure where to ask my question so please redirect me and close this issue if it's the wrong channel.

I've tried installing ROS on arch for the first time and I also have opencv already installed on my machine (v4) from before. I see during the build that ros libraries are sometime pulling the v4 version of opencv and sometime the opencv-opt version (which is the current version associated

[2020-05-19 13:30] jwhendy commented on #20
Bedtime reading for you :)

- https://github.com/ros-melodic-arch/ros-melodic-image-geometry/issues/1
- https://github.com/ros-melodic-arch/ros-melodic-cv-bridge/issues/6
- https://github.com/ros-perception/vision_opencv/issues/272

[2020-05-20 17:56] MalcolmMielle commented on #20
Super! Good that tomorrow is a day off ;)

[2020-05-20 21:40] acxz commented on #20
Considering that this issue is reflected with existing issues/PRs can we go ahead and close this @MalcolmMielle ?

[2020-05-21 09:27] fmauch opened #21 "[Package Request] ros-melodic-moveit-ros-occupancy-map-monitor"
Repo:
https://github.com/ros-planning/moveit

Package:
https://github.com/ros-planning/moveit/tree/master/moveit_ros/occupancy_map_monitor

I've already got a PKGBUILD in place: https://github.com/fmauch/PKGBUILDs/blob/master/moveit_ros_occupancy_map_monitor/PKGBUILD

- [x] ros-melodic-moveit-ros-occupancy-map-monitor

[2020-05-21 10:50] acxz commented on #21
A repo has been created for the package, feel free to submit PRs to it and we will get it synced to the AUR

https://github.com/ros-melodic-arch/ros-melodic-moveit-ros-occupancy-map-monitor

[2020-05-21 11:23] liborw opened #22 "[Package Request] franka emika pakcages"
Hi,

I have created packages for franka emika robot:

https://github.com/frankaemika/franka_ros:
- [x] ros-melodic-franka-control
- [x] ros-melodic-franka-description
- [x] ros-melodic-franka-example-controllers
- [x] ros-melodic-franka-gripper
- [x] ros-melodic-franka-hw
- [x] ros-melodic-franka-msgs
- [x] ros-melodic-franka-ros
- [x] ros-melodic-franka-visualization

https://github.com/frankaemi

[2020-05-21 11:51] acxz commented on #22
I'll go ahead and create the associated repos and then you can submit PRs to these repos.

EDIT: Repos have been created, feel free to submit your PKGBUILDs as PRs and we will get them merged and synced.

This issue will be closed until we get these packages out on the AUR.

[2020-05-21 12:09] fmauch commented on #21
It seems like I can neither fork the repository nor create a PR from another place, as the repository is completely empty. Am I missing something? Is there a way to workaround this?

[2020-05-21 13:07] acxz commented on #21
Sorry about that, created some empty files give it a go now

[2020-05-21 14:23] liborw commented on #22
Ok, should I use the release repository (https://github.com/frankaemika/franka_ros-release) or the base (https://github.com/frankaemika/franka_ros) ?

[2020-05-21 14:40] acxz commented on #22
I believe the base is the one we should use.

[2020-05-21 14:43] liborw commented on #22
Ok

[2020-05-21 18:33] MalcolmMielle commented on #20
Sure !

[2020-05-21 18:33] #20 closed

[2020-05-21 20:54] fmauch opened #23 "[Package Request] trac-ik"
https://bitbucket.org/traclabs/trac_ik/src/master/

Packages:
 - [x] trac_ik (https://github.com/ros-melodic-arch/ros-melodic-trac-ik/pull/1)
 - [x] trac_ik_examples (https://github.com/ros-melodic-arch/ros-melodic-trac-ik-examples/pull/1)
 - [x] trac_ik_kinematics_plugin (https://github.com/ros-melodic-arch/ros-melodic-trac-ik-kinematics-plugin/pull/1)
 - [x] trac_ik_lib
 - [x] trac_ik_python (ht

[2020-05-21 21:02] fmauch opened #24 "[Package Request] missing controllers"
https://github.com/ros-controls/ros_controllers

- [x] ackermann-steering-controller (https://github.com/ros-melodic-arch/ros-melodic-ackermann-steering-controller/pull/1)
- [x] force_torque_sensor_controller (https://github.com/ros-melodic-arch/ros-melodic-force-torque-sensor-controller/pull/1)
- [x] gripper_action_controller (https://github.com/ros-melodic-arch/ros-melodic-gripper-action-control

[2020-05-22 09:40] liborw commented on #22
There will be one more ros-melodic-panda-moveit-config

[2020-05-23 11:35] acxz commented on #22
Added the associated repo for [`ros-melodic-panda-moveit-config`](https://github.com/ros-melodic-arch/ros-melodic-panda-moveit-config)

[2020-05-23 12:00] acxz commented on #24
Added the associated repos

[2020-05-23 12:12] acxz commented on #23
The associated repos have been created

[2020-05-23 12:27] acxz commented on #21
pushed to AUR

[2020-05-23 12:27] #21 closed

[2020-05-23 21:00] fmauch commented on #23
Sorry, I missed the most important one: trac_ik_lib

[2020-05-24 07:06] fmauch opened #25 "[Package Request] ros-control"
For ros-control a couple of packages are missing

https://github.com/ros-controls/ros_control
 - [x] combined-robot-hw
 - [x] rqt-controller-manager
 - [x] ros-control

https://github.com/PickNikRobotics/ros_control_boilerplate
 - [x] ros-control-boilerplate

[2020-05-27 15:01] fmauch opened #26 "up-to-date status page"
Since switching to archlinux I find it to be a bit tedious to check which ROS packages are available and whether those are up-to-date in the AUR.

Is there some status overview / scripting for this? Otherwise I might be willing to create a scripting tool for this. The idea would basically be to compare the `ros-melodic-*`-packages in AUR with the one listed in the rosdistro.

I opened the issue he

[2020-05-27 23:29] acxz commented on #26
@fmauch sorry for not personally telling you this but we have shifted our operations over to the [ros-noetic-arch](https://github.com/ros-noetic-arch) github org. See: https://discourse.ros.org/t/who-is-using-ros-on-archlinux/388/66?u=acxz
Feel free to open up the package requests there and help out over there

[2020-06-02 07:50] fmauch opened #27 "Any maintenance chances?"
Hi all,

Is there any chance, we could get updated versions of packages into AUR? They don't seem to be orphaned on AUR, but also not maintained, since all efforts seem to focus on noetic now?

Don't get me wrong, I absolutely understand the decision to restrict the amount of maintenance work, but melodic users (And some of us might be stuck with melodic at least for a couple of months) aren't abl

[2020-06-02 07:51] fmauch commented on #26
closing this in favor of https://github.com/ros-noetic-arch/ros-noetic-desktop-full/issues/9

[2020-06-02 07:51] #26 closed

[2020-07-26 05:58] SafwanElmadani opened #28 "Installation fails on Manjaro 20.0.3"
Hello,
im trying to install ros melodic desktop full. The installation process fails after awhile. I have manjaro 20.0.3 below is the error that im getting! any help would be appreciated.  Thank you!
-- Build files have been written to: /home/safwan/.cache/yay/ros-melodic-python-orocos-kdl/src/build
[ 10%] Generating PyKDL/sipPyKDLpart0.cpp, PyKDL/sipPyKDLpart1.cpp, PyKDL/sipPyKDLpart2.cpp, PyKDL/

[2020-07-26 08:20] bionade24 commented on #28
We don't support Manjaro. If you would use Arch or EndeavourOS you could use our repo with prebuilt binaries. And please format your code with Markdown next time!

[2020-07-26 08:20] #28 closed

[2020-07-26 10:28] Dave-van-der-Meer opened #29 "ros-melodic-desktop-full not installing on Arch"
## System:
- Kernel: 5.7.10-arch1-1
- AUR-Helper: yay

## Issue:

After running `yay -S ros-melodic-desktop-full` there are several packages downloaded and the computer tires to compule them, but then it fails and ends with the following error messages:

[code]

For more details, consider the attached document.
[ros-melodic-desktop-full.txt](https://github.com/ros-melodic-arch/ros-melodic-desktop-

[2020-07-26 11:31] bionade24 commented on #29
The package that fails is `opencv3-opt`, which is not our package. Please check this before complaining next time. I'll still check the PGP key issue.

[2020-07-26 11:43] bionade24 commented on #29
The key can be retrieved. Try to specify another keyserver: `--keyserver keyserver.ubuntu.com`

[2020-07-26 11:43] #29 closed

[2020-07-26 13:23] bionade24 commented on #27
I'm working on it in the little time I have. The change of the folder structure has made it complicated for many packages, as those changes aren't predictable from the `distribution.yaml`.

[2020-07-26 13:40] acxz commented on #28
@SafwanElmadani Here is a guide by the Manjaro team themeselves on how to convert your Manjaro system to EndeavourOS: https://forum.manjaro.org/t/howto-convert-manjaro-to-endeavouros/155205

[2020-07-26 13:51] acxz commented on #27
@bionade24 Personally I would okay with adding @fmauch to the ros-melodic-arch org so that if he wants to he can update and commit new package versions. However, before that I would like to see @fmauch submit PRs to the packages so that we can trust his code quality before giving him write access. Similar to what I was doing before I joined the org.

Until we see this initiative on @fmauch's side

[2020-07-26 13:56] bionade24 commented on #27
The other issue resulting to the directory change seems to be a lot of linking issues, even I don't know why. Once I  found a good solution to get the new `_dir` paths,  the problem will be mostly gone. There aren't lots of bugs besides that one. I think @fmauch already contributed to some packages. I'll just need an idea to predict the new `_dir` vars.

[2020-07-26 14:09] bionade24 commented on #27
Just to maybe add it here: As I want to get the core packages working, I'll archive and disown not working things. `octomap`, a dep of moveit, still builds against qt4 in our package version, probably because there isn't `libqglviewer-qt5` available on Arch. If someone cares about the moveit stack, he should take the work on it, but I'll drop it when it doesn't build against the octo*-packages in

[2020-07-26 14:32] acxz commented on #27
Instead of disowning the packages can you instead hand them over to someone that has access to the repos in this organization (like me :)).
I think that would be better to keep the ros-melodic packages together even if they are not being maintained by you. I would hate to have another party get the packages and then branch off development from these repos. We are already small as is. I would only

[2020-07-26 14:40] acxz commented on #27
Actually don't hand them over to me lol, I'm already busy as it maintaining noetic, don't want to pick up responsibility of syncing some melodic packages when I might not be able to do even that.

But once @fmauch joins the org, I would nominate you hand the packages over to him or keep them honestly. Just to ensure that repo development and AUR packages can stay in the same development vein and n

[2020-07-26 14:42] bionade24 commented on #27
Ok, I reverted the things and opened an issue at `ros-melodic-octovis` instead for moving to Qt5. Seem like I found a solution to get the names. But before we do it, @fmauch Do you want to contribute more often and  help maintaining the packages?

[2020-07-26 14:48] fmauch commented on #27
I'd be happy to make those PRs as I still maintain a couple of packages locally for my machine. I just didn't do the PRs as I wasn't sure whether it was worth the effort.

[2020-07-26 14:49] bionade24 commented on #27
Are the PR's  still open or just not synced?

[2020-07-26 14:49] fmauch commented on #27
I also use moveit (at least as a dependency) in my daily work so I would also try to rectify that.

[2020-07-26 14:53] bionade24 commented on #27
Ok, then we'll go for it. Just give me a day to fix the path issues in all the packges and hopefully then most things will built, otherwise I'll open issues. Would be nice if you could take care of `ros-melodic-octovis` package. I'm not working with moveit anymore, so I don't have a focus on it and its deps.

[2020-07-26 20:30] fmauch commented on #27
In fact, octovis isn't a dependency of the moveit stack, so it isn't really blocking anything as far as I understand. But I'll have a look at it.

[2020-07-26 20:48] acxz commented on #27
@fmauch we just want to ensure that the AUR packages are in line with the repos here, which is why we want ros-melodic-* AUR packages to be maintained by at least someone part of this org.

If you or @bionade24 really don't want to maintain it, just add me as a co-maintainer to the AUR package before you disown it so that the maintainership of it will be transferred to me.

[2020-07-26 21:23] fmauch commented on #27
How does the syncing process actually work currently?

I'm asking mainly for new packages. E.g. for [`ros-melodic-joint-trajectory-controller](https://github.com/ros-melodic-arch/ros-melodic-joint-trajectory-controller) I have an open PR since a while. Should I create the AUR package and sync it manually? Or would you two @acxz  and @bionade24 like to keep ownership of the AUR packages and take ca

[2020-07-26 21:53] acxz commented on #27
Currently and for some months now @bionade24 has been handling it. I assume @bionade24 clones the latest version of the repos and then attempts to build them in a clean chroot. If the package is successfully the resulting package `.tar.xz` file gets uploaded to @bionade24's personal binary repository (oscloud) and the PKGBUILD to the AUR. This is a bit problematic in the sense that the PKGBUILD do

[2020-07-26 21:56] acxz commented on #27
Oh wait you a memba now, congraz!

I would follow these suggestions for new packages:

Any packages that @bionade24 doesn't want to sync/maintain you can just keep maintain them yourself as long as their is an appropriate mirror repo in this org for it.

[2020-07-26 21:59] acxz commented on #27
I think we can close this issue and for any specific packages not synced. Open an issue on that respective repo's github with the `sync to AUR` label, so that @bionade24 knows which ones to prioritize.

See previous issues with that label for examples. Here is one: https://github.com/ros-melodic-arch/ros-melodic-mavros/issues/1

[2020-07-26 21:59] #27 closed

[2020-07-27 07:52] bionade24 commented on #27
@fmauch I have a script to update the PKGBUILDs: https://github.com/bionade24/ros-aur-helpers
Calling `ci.py update <pkg_name>` will update the package, first time you should call `ci.py clone all` to download the PKGBUILD files.
The biggest problem I currently have are the new folder structures. I tried to enhance it with [this commit](https://github.com/bionade24/ros-aur-helpers/commit/6a76ed644

[2020-07-27 11:42] acxz commented on #27
I am afraid I do not have an idea.

Also for your script/repo you should put it in the https://github.com/ros-arch organization.

[2020-07-28 10:31] fmauch commented on #24
@bionade24 I fixed all the mentioned packages, created associated AUR packages and added you as co-maintainer. Next step as explained [here](https://github.com/ros-melodic-arch/ros-melodic-desktop-full/issues/27#issuecomment-664045212) would be to disown them, so you will be proper maintainer of those packages, is that correct?

[2020-07-28 10:46] bionade24 commented on #24
Yes. Then the owner automatically changes.

[2020-07-28 10:46] bionade24 commented on #24
Thx for your work.

[2020-07-28 11:11] fmauch commented on #24
Done. I'll close this then, as everything here is done from my point of view :-)

[2020-07-28 11:11] #24 closed

[2020-07-28 11:31] fmauch commented on #23
Updated all mentioned repositories, created AUR packages anf handed them over to @bionade24. All done here.

[2020-07-28 11:31] #23 closed

[2020-07-30 22:34] Windfisch commented on #29
The issue in opencv3-opt is already fixed in the PKGBUILD and is going to be fixed in upstream OpenCV, too.
See https://github.com/opencv/opencv/issues/17984 for details.

[2020-07-31 14:32] fmauch commented on #25
Created packages and handed them over to @bionade24

[2020-07-31 14:32] #25 closed

[2020-08-01 00:42] t3pfaffe opened #30 "Invalid PGP Signature on Multiple Packages"
On install of ros-melodic-desktop-full results in a failure due to invalid signatures. Failure result is the same regardless of choice Y or N.

[code]

[2020-08-01 10:48] bionade24 commented on #30
Should be fixed now, thx for reporting!

[2020-08-28 07:59] fmauch opened #31 "Why is ros-melodic-ompl archived?"
https://github.com/ros-melodic-arch/ros-melodic-ompl has been archived. Is there a particular reason for that? It is inside the upstream [`distribution.yaml`](https://github.com/ros/rosdistro/blob/master/melodic/distribution.yaml#L6907) and a dependency for a couple of other packages.

[2020-08-30 10:37] bionade24 commented on #31
It relied on qt4 (which wasn't in the official repos anymore) broken for a long time and no one cared about it, I didn't have the time to care about that. I'll unarchive it as seem to care.

[2020-08-30 10:37] #31 closed

[2020-09-01 20:14] fmauch commented on #22
I've filled the associated packages with content and created the AUR packages. Therefore, closing this.

[2020-09-01 20:14] #22 closed

[2020-09-01 21:29] fmauch opened #32 "Build and sync current state"
I've put a lot of effort making (almost) all packages from this organization build in a clean chroot over the last days. Many of them have outstanding PRs which make the packages build.

Before going further and updating the packages, it would be nice to know they are also building in @bionade24's ci pipeline. As I was using my own local repository, I also updated and added dependencies that might

[2020-09-04 20:18] fmauch commented on #32
I've started updating a lot of packages, so a build & sync by @bionade24 would probably be quite good.

[2020-09-19 18:53] #30 closed

[2020-09-19 18:58] t3pfaffe opened #33 "Signature Invalid (again?)"
Getting an error specifically on console-bridge. However it could be on other packages as well. This is jus the first pacman ran into.

[code]

[2020-09-19 22:38] bionade24 commented on #33
Will look into it. Reimplemented CI/CD and used a new tool for repo-add and signing at once. Packages dependent on console-bridge just build fine. CI status: https://abs-cd.oscloud.info

Am Samstag, 19. September 2020 schrieb Tom Pfaffe:

[2020-09-19 23:19] bionade24 commented on #33
I tried an everything was fine for me. Try to clean your pacman db (`pacman -Scc`).

[2020-09-19 23:19] #33 closed

[2020-09-21 11:52] bionade24 commented on #33
@t3pfaffe Could you solve it or is it still there? If so, maybe I can help.

[2020-09-21 18:20] bionade24 commented on #32
Sync should be better now.

[2020-09-21 18:20] #32 closed

[2020-09-21 18:21] #17 closed

[2020-09-23 23:32] t3pfaffe commented on #33
Yes it works for me now. Could have been on my end. I guess I just jumped to the assumption that it wasn't since I previously had issues with ROS on Arch with the signatures.

[2020-09-24 04:17] bionade24 commented on #33
No Problem. Seems like we won't have these issues again with the new tool.

Am Donnerstag, 24. September 2020 schrieb Tom Pfaffe:

[2021-06-02 02:39] victor-botsync opened #34 "Signature Invalid while updating repo"
![image](https://user-images.githubusercontent.com/66936018/120415769-ac64ed80-c38e-11eb-9796-e744b16b5eab.png)

I am having this error today suddenly while I was trying to update my repos. It was working fine yesterday. Is the key changed?

[2021-06-02 08:35] bionade24 commented on #34
Hello, nothing changed. I messed up while using `repo-remove`. Should be
fine again now.

[2021-06-02 15:48] #34 closed

[2021-06-15 08:24] victor-botsync opened #35 "Rospack error while loading shared libraries: libtinyxml2.so.7"
![image](https://user-images.githubusercontent.com/66936018/122018783-c1616800-cdf5-11eb-973c-0d9b0787fadf.png)
I think the latest AUR update on the tinyxml2 broke the rospack and rosstack function.

[2021-06-15 09:06] fmauch commented on #35
How did you installROS? Using the binary package from oscloud or did you build it from scratch (from AUR directly)?

In the latter case you can rebuild the packages yourself, see [here](https://wiki.archlinux.org/title/ROS#Rebuild_when_shared_libraries_are_updated)

@bionade24 we should probably trigger a tree rebuild for melodic-desktop-full in the CI, right?

[2021-06-15 09:16] victor-botsync commented on #35
I did it using the AUR method. Okay, I will try using the method mentioned.

[2021-06-15 10:10] victor-botsync commented on #35
How do I rebuild the packages that are listed in the python script?

[2021-06-15 10:18] fmauch commented on #35
`yay -S --rebuild <package 1> <package 2> <package 3>...`

I'm not sure what the exact output of that script is, as I have a modified version on my machine. I've put it [here](https://gist.github.com/fmauch/bb1d05592fa33fefac2dc5062876226f). With that I can just copy the one line containing all packages and add it to `yay -S --rebuild`

[2021-06-15 10:44] victor-botsync commented on #35
![image](https://user-images.githubusercontent.com/66936018/122039704-8701c600-ce09-11eb-8be3-5f5ef22db75d.png)
I am still getting the same issue. Sorry I am new to Arch and not sure of many things. I have also restarted the system to see if that is needed to  get it go work but it seems not.

[2021-06-15 11:50] fmauch commented on #35
rostack is not inside our AUR distribution, so that might be why, you'll have to rebuild that, as well (depending on how you installed it in the forst place, probably rebuild your workspace (as in delete build & devel and rebuild)?)

[2021-06-17 04:29] victor-botsync commented on #35
I managed to get it fixed by uninstalling all ROS packages and reinstalling them again. Will take note of the installation method and will try your method again next time.

[2021-06-17 04:29] #35 closed

[2021-06-17 11:32] bionade24 commented on #35
Sorry for my late response.

Probably, can't hurt. Will do.

That can happen with AUR packages if dependencies get updated and the other package doesn't increase `pkgrel`. E.g, we don't track this properly. If you yay, do `yay -S --rebuildtree ros-melodic-desktop-full` and you'll be fine afterwards. Yeah, we should do better in tracking deps, but it's just extremely hard doing that for that many d

[2021-09-11 21:54] Tambup opened #36 "ERROR: Remote key not fetched correctly from keyserver"
Hi,

I just read [this issue](https://github.com/ros-melodic-arch/ros-melodic-ros-base/issues/3), but the solution does not work. I always get the same error:
[code]

Namely, the error persist using:
`sudo pacman-key --recv-keys CB222E7EBC11D682AAC8B317A4A0D73114FDE6FC --keyserver keyserver.ubuntu.com`.

Another interesting point is that doing `sudo pacman -Syy` after adding the repo in `pacman.co

[2021-09-12 10:09] Tambup commented on #36
I have further information:
searching the key in the browser [keyserver.ubuntu.com](keyserver.ubuntu.com) gives "Not Found".

[2021-09-12 15:15] bionade24 commented on #36
R you sure your GPG is fine? You can also search on the keyservers for my mail address and try to use the shoeyer fingerprint. I haven't changed anything about my key since so should be fine from my side.

[2021-09-12 15:16] bionade24 commented on #36
Have you signed my key locally? Otherwise pacman doesn't trust it.

[2021-09-12 16:43] Tambup commented on #36
Finally found the problem, is quite weird:
i changed the DNS server (editing /etc/resolv.conf) and now it works. Also, it wasn't necessary to specify the keyserver.

So, i close the issue. Anyway, thanks for support.

[2021-09-12 16:43] #36 closed

[2021-09-12 16:47] bionade24 commented on #36
You may will have some issues with the repo, but I'll fix them in the next days. See https://abs-cd.oscloud.info/ for build dates and details.

[2021-09-12 17:50] Tambup commented on #36
Yes, i see. Minor issues anyway, you did a great job imho.

I report you that rosout is built with liblog4cxx.so.12, but in your repo there is only liblog4cxx.so.10. I solved installing liblog4cxx.so.12 from community repo. I write if someone have the same problem.